// TextShadow start
.text-shadow-container {
    background: #ccc;
    text-align: center;
    padding: 100px;
    position: relative;
}

.text-shadow-content {
    font-size: 120px;
    color: #fff;
    font-weight: bold;
    position: relative;
    z-index: 0;
}

.text-shadow-content::before {
    content: 'Hello dumi!';
    position: absolute;
    color: #000;
    transform: translate(-70px, 20px) scaleY(0.5) skew(50deg);
    z-index: -1;
    filter: blur(5px);
    -webkit-mask-image: linear-gradient(transparent, #000);
}

// TextShadow end

// BackgroundHover start

// BackgroundHover end

// FrostedGlass start
.frosted-glass-wrap {
    background: url(./bg.jpg);
    background-size: 100% 100%;
    height: 512px;
    position: relative;
    cursor: pointer;

    .modal {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        transition: 2s;
        backdrop-filter: grayscale(1);
    }
}

.frosted-glass-wrap:hover .modal {
    width: 0;
}

// FrostedGlass end


// VideoBarrage start
.video-barrage-container {
    height: 376px;
    width: 668px;
    background-color: red;
    position: relative;
    margin: 0 auto;

    .modal {
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0;
        background-color: aqua;
        -webkit-mask-image: url(./cxk.svg);
        color: rgba(255, 255, 255, 0.7);
        font-weight: bold;
        line-height: 2;
    }
}

// VideoBarrage end

// ColorFullText start
.color-full-text-container {
    background: #000;
    text-align: center;
    padding: 100px;

    span {
        color: #fff;
        font-size: 100px;
        font-weight: bold;
        animation: spread 1s ease-in-out infinite alternate;

        @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
                animation-delay: $i *0.1s;
            }
        }
    }
}

@keyframes spread {
    to {
        color: #ff0266;
        text-shadow: 20px 0 70px #ff0266;
    }
}



// ColorFullText end


// ColorBorder start
.color-border-card {
    width: 400px;
    margin: 0 auto;
    line-height: 2;
    border-radius: 10px;
    background: repeating-linear-gradient(-45deg, #ff0266 0px 10px, aqua 10px 20px, #fff 20px 30px) -20px -20px/200% 200%;
    padding: 5px;
    transition: 0.7s;

    .text {
        background: #fff;
        cursor: pointer;
        padding: 10px;
    }
}

.color-border-card:hover {
    background-position: 0 0;
}

// ColorBorder end

// MultiLine start
.multi-line-container {
    width: 213px;
    margin: 0 auto;
    line-height: 25px;
    padding: 10px;
    background: #eee;

    &::before {
        content: '';
        display: block;
        height: 75px;
    }

    .more {
        float: right;
    }

    .text {
        margin-top: -75px;
        overflow: hidden;
        height: 100px;
    }
}

// MultiLine end

// TaperedGradient start
.tapered-gradient-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    background: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);

    &::before {
        content: '';
        position: absolute;
        inset: 5px;
        background: #fff;
        border-radius: 50%;
    }
}

.tapered-gradient-rectangle {
    width: 160px;
    height: 90px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    background: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);

    &::before {
        content: '';
        position: absolute;
        inset: 5px;
        background: #fff;
        border-radius: 10px;
    }
}

// TaperedGradient end

// OlympicRings start
.olympic-rings {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    transform-style: preserve-3d;

    .rings {
        width: 100px;
        height: 100px;
        border: 10px solid #3884c2;
        border-radius: 50%;
        margin: 0 5px;
        position: relative;

        &:nth-child(2) {
            border-color: #000;
            transform: translateZ(-1px) rotateX(2deg);
        }

        &:nth-child(3) {
            border-color: #d83a31;
            transform: translateZ(-3px) rotateX(7deg);
        }

        &:nth-child(4) {
            border-color: #f9d549;
            transform-origin: center 25%;
            margin-top: -50%;
            transform: rotateX(1deg);
        }

        &:nth-child(5) {
            border-color: #55ac58;
            margin-top: -50%;
            transform-origin: 25% center;
            transform: translateZ(2px) rotateX(4deg);

        }
    }
}

// OlympicRings end

// ThreeDimensionalText start
.three-dimensional-text {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    background: #ed9e9a;
    color: #fff;
    padding: 1em;
    text-shadow: -1px 1px #bbb, -2px 2px #bbb, -3px 3px #bbb, -4px 4px #bbb, -5px 5px #bbb,
        -10px 10px 3px #0008;
}

// ThreeDimensionalText end